/* styles/about-styles.css */
img {
    width: 250px; /* Set a fixed width for the circle */
    height: 250px; /* Set a fixed height for the circle */
    object-fit: cover; /* Ensure the image fits within the circular area */
    display: block; /* Center the image within the circle */
    margin: 0 auto; /* Center the image horizontally */
    margin-bottom: 15px; /* Add some spacing below the image */
    border-radius: 50%; /* Make the image circular */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
}

@media (max-width: 768px) {
    .programmers li h3,
    .advertisers li h3 {
        flex-basis: 100%; /* Adjust the value for smaller screens */
    }
}


/* Additional styling for the .programmers section */
.programmers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.programmers li h3 {
    text-align: center;
    margin: 15px;
    flex-basis: 300px; /* Adjust the value accordingly */
}

.advertisers li h2 {
    text-align: center;
    margin: 15px;
    flex-basis: 300px; /* Adjust the value accordingly */
}


.advertisers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.advertisers li h3 {
    text-align: center;
    margin: 15px;
    flex-basis: calc(33.33% - 30px); /* Distribute items in a row with spacing */
} 

/* footer */
/* Add this to your existing CSS file */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.content {
    /* Add margin at the bottom to make space for the fixed footer */
    margin-bottom: 60px; /* Adjust the value based on your footer height */
    flex: 1; /* Grow to fill remaining space */
}

.footer-bar {
    background-color: #333; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 15px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left p {
    margin-right: 10px; /* Adjust the spacing between text and logo */
}

.footer-nav {
    display: flex;
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav li {
    margin: 0 20px; /* Adjust the spacing between links */
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Add this to your existing CSS file */
.footer-left img {
    margin-right: 50px; /* Adjust the spacing between text and logo */
    width: 50px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
}
