.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 5px solid;
  border-radius: 10px;
  position: relative;
}

.img::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 5px solid transparent;
  border-radius: 15px;
}

img[status="alive"]::before {
  border-color: rgb(21, 170, 21);
}

img[status="dead"]::before {
  border-color: rgb(230, 63, 63);
}

#person-name,
#person-status {
  text-align: center;
  margin: 10px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 40px;
  }
  
  .img {
    width: 1000%;
    height: auto;
  }
}


/* footer */
/* Add this to your existing CSS file */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.content {
  /* Add margin at the bottom to make space for the fixed footer */
  margin-bottom: 60px; /* Adjust the value based on your footer height */
  flex: 1; /* Grow to fill remaining space */
}

.footer-bar {
  background-color: #333; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 15px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left p {
  margin-right: 10px; /* Adjust the spacing between text and logo */
}

.footer-nav {
  display: flex;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav li {
  margin: 0 20px; /* Adjust the spacing between links */
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* Add this to your existing CSS file */
.footer-left img {
  margin-right: 50px; /* Adjust the spacing between text and logo */
  width: 50px; /* Adjust the width of the image */
  height: auto; /* Maintain the aspect ratio */
}
